.component-categories {
  padding: 30px, 30px, 10px, 30px;
  margin-bottom: 20px;
  margin-top: 12px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
  }

  .categories-text {
    color: #1d1b1c;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-top: 12px;
  }
}
