.page-home {
  h5 {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .food-delivery-categories {
    margin-top: 30px;
  }

  .food-delivery-product {
    margin-top: 10px;
  }
  .delivery-carousel {
    border-radius: 12px;

    .carousel-control {
      background-color: black;
    }
  }
}
